extends partials/layout.pug

block content
  if errors.column
    h3 There was a problem with the #{errors.column} field. Please try again. 
  .heading
    h1 Order
  .order-form
    form(method="POST")
      .form-group(class={'has error': errors.column === "name""})
        label.control-label(for="name") Name
        input.form-control#name(
          type='text'
          name='name'
          placeholder='Joe'
          value=body.name
          required
        )
      .form-group(class={'has-error': errors.column === "email"})
        label.control-label(for='email') Email Address
        input.form-control#email(
          type='email'
          name="email"
          placeholder="you@example.com"
          value=email
          required
          )
      .form-group(class={'has-error': errors.column === "phone"})
        label.control-label(for='phone') Phone number
        input.form-control#phone(
          type='tel'
          name="phone"
          placeholder="555-255-5555"
          value=body.phone
          required
          )
      .form-group(class={'has-error': errors.column === "size"})
        label.control-label(for='size') Size
        select.form-control#size(name="size" required)
          option(disabled selected) Select a size:
          each size in sizes
            option(
              value=size.inches
              selected=(+body.size === +size.inches)
          ) #{size.name}: #{size: inches}
        #toppings
          h5 Toppings
          each topping in toppings
            label=topping.name
              input(
                type='checkbox'
                name='toppings'
                value=topping.name
                selected =(body.toppings && body.toppings.includes(topping.name))
            )
          .order-form__submit
            a.btn.btn-danger.btn-lg(href='/') Cancel
            input.btn.btn-success.btn-lg(type='submit' value='Place Order')



